{% macro show_Board(board_id) %}

<div class="container my-3 border border-dark">
            <div class="row shadow mb-5 bg-body bg-rounded">

                <div class="col-12 text-center bg-primary bg-opacity-50">
                    <a class="link-dark" href="{{ url_for('blog.board', id=board_id.id) }}"> <h2> {{ board_id.name }} </h2> </a>
                </div>

                <div class="col-md-4 bg-danger p-1">
                    <a href="{{ url_for('blog.board', id=board_id.id) }}"> <img src="{{ url_for('static', filename='img/thumb2.png') }}" class="rounded mx-auto d-block" style="height: 100px;"> </a>
                </div>

                <div class="col-md-8 bg-light p-2">
                    <p> {{ board_id.info }} </p>
                    <p class="text-end fst-italic"> Tablicę utworzono: {{ board_id.show_date() }} </p>
                </div>


            </div>
</div>

{% endmacro %}




{% macro show_Post(post) %}


    <div class="container my-2 bg-white bg-opacity-50 border border-secondary">
        <div class="row">
            <div class="col-6">
                <p class="text-center fst-italic fs-5"> {{ post.auth }} </p>
            </div>
            <div class="col-6">
                <p class="text-end"> {{ post.show_date() }}</p>
            </div>
        </div>

        <div class="row border-bottom border-success">
            <div class="col-2">
            </div>
            <div class="col-10">
                <p class="text-center"> {{ post.content }} </p>
            </div>
        </div>
    </div>
    
{% endmacro %}





{% macro radio_Board(boards) %}

    <div class="form-check">

        <input class="form-check-input" type="radio" name="boardRadio" value="0" id="radioBoard0" checked>
        <label class="form-check-label fs-3" for="radioBoard0"> Nic nie usuwaj </label>
    </div>

    {% for board in boards %}

        <div class="form-check">

        <input class="form-check-input" type="radio" name="boardRadio" value="{{ board.id }}" id="radioBoard{{board.id}}">
        <label class="form-check-label fs-3" for="radioBoard{{board.id}}"> {{ board.name }} </label>
        </div>


    {% endfor %}
    
    
{% endmacro %}
