{% extends "base.html" %}
{% from "_macros.html" import show_Post %}

{% block content %}

    <div class="container" style="max-width: 1000px;">
        <div class="col-md-12 bg-info text-center my-3">
            <h1> {{ board.name }} </h1>
        </div>

        <div class="container my-1">

            {% for post in board.posts %}

                {{ show_Post(post) }}
            {% endfor %}


        </div>


        <div class="container my-1" style="max-width: 1000px;">

            <form action="" method="POST">

                {{ form.hidden_tag() }}

                <div class="row">

                    <div class="col-md-4 text-center">
                        <h4> {{ form.name.label }} </h4>
                        {{ form.name(class="form-control") }}
                    </div>

                    <div class="col-md-8 text-center">
                        <h4> {{ form.text.label }} </h4>
                        {{ form.text(class="form-control", rows=4) }}
                    </div>
                </div>

                <div class="row my-2">
                   {{ form.submit(class="btn btn-danger") }}
                </div>

            </form>

        </div>


    </div>



{% endblock %}
